<form class="modal-container" *ngIf="isVisible">
  <div class="modal-background" (click)='closeOverlay()'>
  </div>
    <div class="modal flex-col">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class='close-button' (click)='closeOverlay()'>
        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z" clip-rule="evenodd" />
      </svg>  
      <div class="form">
      <h2>Team Name</h2>
      <input type="text" [(ngModel)]="name" placeholder="Enter team name" name="name"/>
      <h2>Description</h2>
      <input type="text" placeholder="Enter description" [(ngModel)]="description" name="description"/>

      <h2>Select Members</h2>
      <select (change)="addUserToSelectedUsers($event)">
        <option [value]="null">Select User</option>
        <option *ngFor="let user of availableUsers" [value]="user.id" [disabled]="isUserSelected(user)">
          {{ user.profile.firstName }} {{ user.profile.lastName }}
        </option>
      </select>
    </div>
      <div class="selected-members" *ngFor="let user of selectedUsers">
        <div class="member">{{user.profile.firstName}} {{user.profile.lastName}}</div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class='drop-button' (click)='removeUser(user)'>
          <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z" clip-rule="evenodd" />
        </svg>  
      </div>

      <div *ngIf="selectedTeam; else noTeamMessage" class="submit-container">
        <div class="submit-container">
            <button class="submit-button" (click)="updateTeam()">Submit</button>
            <button class="delete-button" (click)="deleteTeam()">Delete</button>
        </div>
      </div>
      <ng-template #noTeamMessage>
        <div class="submit-container">
          <button class="submit-button" (click)="submitNewTeam()">Submit</button>
        </div>
      </ng-template>
  </div>
</form>
