
<div *ngIf="user">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="header">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        style="width: 50px; height: 50px"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10.34 15.84c-.688-.06-1.386-.09-2.09-.09H7.5a4.5 4.5 0 1 1 0-9h.75c.704 0 1.402-.03 2.09-.09m0 9.18c.253.962.584 1.892.985 2.783.247.55.06 1.21-.463 1.511l-.657.38c-.551.318-1.26.117-1.527-.461a20.845 20.845 0 0 1-1.44-4.282m3.102.069a18.03 18.03 0 0 1-.59-4.59c0-1.586.205-3.124.59-4.59m0 9.18a23.848 23.848 0 0 1 8.835 2.535M10.34 6.66a23.847 23.847 0 0 0 8.835-2.535m0 0A23.74 23.74 0 0 0 18.795 3m.38 1.125a23.91 23.91 0 0 1 1.014 5.395m-1.014 8.855c-.118.38-.245.754-.38 1.125m.38-1.125a23.91 23.91 0 0 0 1.014-5.395m0-3.46c.495.413.811 1.035.811 1.73 0 .695-.316 1.317-.811 1.73m0-3.46a24.347 24.347 0 0 1 0 3.46"
        />
      </svg>
      <h1 class="title">Announcements</h1>
      <div class="button-container" *ngIf="user.admin">
        <button class="btn" (click)="toggleModal()">New Post</button>
      </div>
      <div *ngIf="!user.admin" style="width: 65px"></div>
    </div>
    <hr style="width: 100%" />
    <div
      *ngIf="
        !loading && !error && announcements.length > 0;
        else showLoadingError
      "
      class="announcement-container"
    >
      <app-announcement-card
        *ngFor="let announcement of announcements"
        [announcement]="announcement"
      ></app-announcement-card>
    </div>
  </div>

  <ng-template #showLoadingError>
    <div *ngIf="loading">
      <p>Loading...</p>
    </div>
    <div *ngIf="error">
      <p class="error">{{ error }}</p>
    </div>
  </ng-template>

  <div *ngIf="showModal" class="modal-container">
    <div class="modal-background" (click)="closeModal()"></div>
    <div class="modal flex-col">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="close-button"
        (click)="closeModal()"
      >
        <path
          fill-rule="evenodd"
          d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z"
          clip-rule="evenodd"
        />
      </svg>
      <form [formGroup]="announcementForm" (ngSubmit)="onSubmit()">
        <h3>Create new announcement</h3>
        <input placeholder="Title" type="text" formControlName="title" />
        <textarea
          placeholder="Enter your announcement message here"
          formControlName="message"
          rows="4"
          cols="30"
          style="max-width: 400px; max-height: 450px"
        >
        </textarea>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
