.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login-container {
  background: #0f172a;
  box-shadow: black 0px 5px 10px 0px;
  border: 1px solid #374151;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  padding: 15px;
  margin: 15px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.size-6 {
  width: 200px;
}